.color--453c41 { color: #453c41; }

.color--7b586b { color: #7b586b; }

.color--7b7c81 { color: #7b7c81; }

.color--d4dbe2 { color: #d4dbe2; }

.color--000099 { color: #000099; }

.color--0088cc { color: #0088cc; }

.color--049cdb { color: #049cdb; }

.color--99ccff { color: #99ccff; }

.color--cccc00 { color: #cccc00; }

.color--e5e500 { color: #e5e500; }

.color--ffff7f { color: #ffff7f; }

.color--990000 { color: #990000; }

.color--ff0000 { color: #ff0000; }

.color--ff3232 { color: #ff3232; }

.color--ff7f7f { color: #ff7f7f; }

.color--00b300 { color: #00b300; }

.color--00cd00 { color: #00cd00; }

.color--b2d8b2 { color: #b2d8b2; }

.color--d8d8d8 { color: #d8d8d8; }

.color--e5e5e5 { color: #e5e5e5; }

.color--f2f2f2 { color: #f2f2f2; }