.paragraph {
    font-family: 'Orbitron Variable';
}

.paragraph--to_upper_case {
    text-transform: uppercase;
}

.paragraph--cursor::after {
    content: '_';
    color: #cccc00;
    animation: 1.5s cursor infinite;
}

.paragraph--small_bold {
    font-weight: bold;
    font-size: 0.8rem;
}

.paragraph--medium_bold {
    font-weight: bold;
    font-size: 0.9rem;
}

.paragraph--suspense::after {
    content: '10101010';
    animation: 2s infinite letter;
}

@keyframes letter {
    0% { content: '10101010'; }
    25% { content: '11010101'; }
    50% { content: '10111010'; }
    75% { content: '00010111'; }
    100% { content: '10101010'; }
}

@keyframes cursor {
    0% { color: transparent; }
    25% { color: #cccc00; }
    50% { color: transparent; }
    75% { color: #cccc00; }
    100% { color: transparent; }
}