.round_button {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #453c41;
    border-radius: 100%;
}

.round_button > div {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 2%;
    right: 2%;
    background-color: #7b586b;
    border-radius: 100%;
}