.pokemon_type_led {
    position: relative;
    height: 2.4rem;
    margin: 0.5px;
    border-radius: 6px;
    background-color: #453c41;
}

.pokemon_type_led > div:first-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pokemon_type_led > div:last-child {
    height: 100%;
}

.pokemon_type_led > div:last-child > .led {
    height: 100%;
}

.pokemon_type_led--opacity > div:last-child {
    filter: opacity(80%) brightness(20%);
}

.pokemon_type_led--opacity_active > div:last-child {
    filter: opacity(10%) brightness(60%);
}