.value_attribute {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 120px;
    height: 3.5rem;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #453c41;
}

.value_attribute > .paragraph:last-child {
    margin: 2px;
    padding: 2px;
    background-color: #00b300;
    border-radius: 4px;
}