.deck {
    width: 350px;
    height: 600px;
    padding: 1.8rem 1.4rem;
    border-radius: 15px;
    background-color: #ff0000;
    box-shadow: -6px 4px 0 #990000;
    border: solid 2px #990000;
    position: relative;
}

.deck::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 94%;
    height: 94%;
    margin: auto;
    border-radius: 10px;
    border: solid 4px #990000;
    pointer-events: none;
}

@media (min-width: 600px) {
    .deck {
        width: 400px;
    }
}