.top_deck {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top_deck--displaylcd_description_pokemon {
    height: 140px;
    overflow-y: auto;
    padding: 1rem;
    border-radius: 6px;
    background-color: #453c41;
}

.top_deck__div--group_leds {
    width: 100%;
}

.top_deck__div--group_leds > div:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-radius: 6px;
    padding: 1px;
    background-color: #d4dbe2;
}

.top_deck__div--group_leds > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 0;
}

.top_deck__div--group_leds > div:nth-child(3) {
    display: flex;
    flex-direction: column;
}

.top_deck__div--group_leds > div:nth-child(3) > div:first-child {
    display: flex;
}

.top_deck__div--group_leds > div:nth-child(3) > div:first-child > .led:first-child {
    margin-right: 0.5px;
}

.top_deck__div--group_leds > div:nth-child(3) > div:last-child {
    align-self: flex-end;
}

.top_deck > div:last-child {
    display: flex;
    justify-content: space-between;
}