@import url('./styles/atoms/color.css');
@import url('./styles/atoms/font.css');

@font-face {
    font-family: 'Pokemon Solid';
    src: url('./assets/fonts/pokemon/Pokemon-Solid.ttf');
}

@font-face {
    font-family: 'Orbitron Variable';
    src: url('./assets/fonts/orbitron/Orbitron-Regular.ttf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 95vw;
    margin: auto;
    color: #453C41;
    background-color: #d4dbe2;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

button {
    border: none;
}